// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';

// Import Modules

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  box-sizing border-box
  padding 0
  margin 0

.header
  width 100%
  height 72px
  display flex
  justify-content space-between
  align-items center
  padding 2em

  &-logo
    width 120px
    height auto
    background red


  &-nav

    &-items
      list-style none
      display flex
      justify-content flex-end
    &-link
      display block
      padding 1.5em 1em
      cursor pointer
      margin-left 3px

.main
  width 100%
  height 700px
  overflow hidden
  filter blur(2px)
