extends _layouts/base

include _modules/link/link

block content
  header(class="header")
    img(src="", alt="" class="header-logo")
    nav(class="header-nav")
      ul.header-nav-items
        li.header-nav-item 
          a.header-nav-link Sobre mi
        li.header-nav-item 
          a.header-nav-link Proyectos
        li.header-nav-item 
          a.header-nav-link Blog
        li.header-nav-item 
          a.header-nav-link Contacto
    
  main.main
    img(src="../images/fondo.jpg", alt="")
      
